.scroll-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	color: #fff;
	width: 50px;
	height: 50px;
	background-color: #5677fc9e;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	border-radius: 50%;
	font-weight: 400;
	display: none;

	&:hover {
		background-color: $blueColor;
	}

	i {
		transition: .5s;
	}
}


.upper-nav {
	display: flex;
	border-bottom: 1px solid #e5e5e5;
	background-color:$blueColor;
	color:#fff;
	.contact {
		text-align: left;

		.contact-item {
			display: inline-block;
			padding: 10px 0;
			color:#fff;
			span {
				margin-left: 5px;
				font-family: $mainFont, sans-serif;
				font-size: 14px;

			}

			i {
				font-size: 14px;
			}
			&:first-child{
				margin-right:30px;
			}
		}
	}

	.account {
		text-align: right;

		a {
			display: inline-block;
			text-decoration: none;
			padding: 10px 0;
			font-family: $mainFont, sans-serif;
			color: #555555;
			font-weight: 400;
			font-size: 14px;
			transition: .5s;
			position: relative;
			color:#fff;

			span {
				position: absolute;
				top: 2px;
				right: 2px;
				width: 15px;
				height: 15px;
				background-color: #5677fc;
				text-align: center;
				line-height: 15px;
				color: #fff;
				font-family: Arial;
				font-size: 11px;
				border-radius: 50%;
			}
		}
	}
}

.search-bar {
	padding: 20px 0;
	overflow: hidden;
	.cart{
		a{
			text-decoration:none;
			color:$mainColor;
			font-size:20px;
			position: relative;
			transition:.4s;
			&:hover{
				color:$blueColor;
			}
			&:first-child{
				margin-right:40px;
			}
			span{
				position: absolute;
				top:-15px;
				left:20px;
				width:20px;
				height:20px;
				border-radius:50%;
				background-color:$blueColor;
				color:#fff;
				font-size:15px;
			}
		}
	}
	.navbar-brand {
		text-align: center;
		margin-bottom:20px;
		a {
			text-decoration: none;
			font-family: $secondFont;
			color: $blackColor;
			font-size: 20px;
		}
	}

	.home-search {
		position: relative;
		text-align: center;

		input[type="search"] {
			margin-bottom:20px;
			border: 1px solid #ccc;
			background: none;
			font-size: 16px;
			outline: none;
			padding: 12px 20px;
			width:100%;
		}

		input[type="submit"] {
			background: $mainColor;
			outline: none;
			border: none;
			color: $whiteColor;
			top: 0;
			right: 0;
			cursor: pointer;
			padding: 13px 30px;
			font-size: 16px;
			font-family: $openSans;
			transition: .5s;
			text-transform: uppercase;
			font-weight: bold;
			position: absolute;
			right: 12px;
			top:0;

			&:hover {
				background-color: $blueColor;
			}
		}
	}
}

nav {
	margin-bottom: 20px;
	background-color: $blueColor!important;
	.navbar-nav {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		.nav-item {
			&:hover{
				.dropdown{
					visibility:visible;
					opacity:1;
				}
			}
			display: inline-block;
			margin: 0 50px;
			position: relative;
			.dropdown{
				z-index:5;
				position: absolute;
				background-color: $blueColor;
				// display:none;
				visibility:hidden;
				opacity:0;
				transition:.4s;
				.dropdown-list{
					margin: 0;
					padding: 11px 50px 10px 10px;
					text-align: left;
					li{
						margin-top:10px;
						a{
							text-decoration:none;
							color:#fff;
							font-family:$openSans;
						}
					}
				}
			}
			.nav-link {
				text-decoration: none;
				color: $whiteColor;
				font-weight: 600;
				font-family:$openSans;
				font-weight: 300;
				padding: 15px 0;
				display: block;
				text-transform: uppercase;
			}

			&.dropdown {
				position: relative;

				&:hover .drop-down {
					opacity: 1;
					visibility: visible;
					transition: .5s;
				}

				.drop-down {
					z-index: 200;
					box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
					position: absolute;
					background-color: #fff;
					text-align: left;
					left: 30px;
					top: 54px;
					opacity: 0;
					visibility: hidden;

					ul {
						list-style: none;
						padding: 0;
						margin: 0;

						li {
							display: block;

							&:not(:last-child) {
								border-bottom: 1px solid #ddd;
							}

							a {
								color: #515151;
								text-decoration: none;
								font-family: $openSans;
								display: block;
								padding: 12px 15px;
								padding-right: 100px;
								font-size: 15px;
								font-weight: 600;
								text-transform: uppercase;
								transition: .4s;

								&:hover {
									color: $blueColor;
								}
							}
						}
					}
				}
			}
		}

	}
}

.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: $whiteColor;
	box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);

	.navbar {
		.nav-item {
			padding: 10px;
			margin: 0 50px;

			&.dropdown {
				.drop-down {
					top: 70px;
					left: -20px;
				}
			}

			.nav-link {
				color: $blackColor;
				transition: .5s;

				&:hover {
					color: $blueColor;
				}
			}
		}
	}

}

.landing-page {
	margin-bottom: 30px;
	.item-primary {
		.img {
			width: 100%;
			position: relative;
			overflow: hidden;

			img {
				width: 100%;
				transition: .5s;

				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}

	.item-secondary {
		height: 270px;

		.img {
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;
			margin-bottom: 25px;

			img {
				width: 100%;
				transition: .5s;

				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}
}


.cat {

	.cat-img {
		position: relative;
		img {
			width: 100%;
		}

		a {
			position: absolute;
			top: 75%;
			left: 55%;
			text-decoration: none;
			color: $whiteColor;
			background-color: rgba(86, 119, 252, 0.7);
			padding: 10px 20px;
			font-weight: 500;
			font-family: $secondFont;
			font-size: 14px;
			letter-spacing: 2px;
			border-radius: 50px;
			transition: .5s;

			&:hover {
				background-color: $blueColor;
			}
		}

		span {
			position: absolute;
			top: 23%;
			left: 50%;
			font-size: 40px;
			font-family: $secondFont;
			font-weight: 800;
		}
	}

}

.last-product {
	margin-top: 100px;

	h1 {
		font-family: $secondFont;
		font-weight: 600;
		margin-bottom: 40px;
	}

	.product-card {
		position: relative;
		margin-bottom: 50px;

		img {
			width: 100%;
			transition: .5s;
		}

		.sale {
			position: absolute;
			top: 10px;
			left: 10px;
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			background-color: $blueColor;
			color: #fff;
			font-family: $secondFont;
			font-weight: 700;
			border-radius: 50%;
		}

	}

	.product-caption {
		p {
			font-family: $secondFont;
			font-size: 20px;
		}

		.price {
			font-family: $secondFont;
			font-weight: 600;
		}

		.old-price {
			font-family: $secondFont;
			font-weight: 600;
			margin-left: 40px;
			color: $blueColor;
			text-decoration: line-through;
		}
	}
}

.gallery {
	margin: 50px 0;

	.gallery-item {
		width: calc(100% / 5);
		img {
			width: 100%;
		}
	}
}


.shop-method {
	margin: 100px 0;

	.shop-item {
		margin-right: 5px;
		margin: auto;
		padding: 0 30px;
		text-align: left;

		h3 {
			color: #282828;
			font-family: $secondFont;
			font-size: 25px;
			font-weight: 700;
			margin: 10px 0;
		}

		p {
			margin: 0;
			font-family: $secondFont;
			color: #506172;
		}

		.shop-method-icon {
			i {
				font-size: 35px;
				margin-bottom: 5px;
				color: #282828;
			}
		}
	}
}

.newsletter {
	background-color: #506172;
	padding: 80px 0;

	.newsletter-description {

		p {
			font-size: 30px;
			color: $whiteColor;
			font-family: $secondFont;
			text-transform: uppercase;
			font-weight: 800;
			letter-spacing: 2px;
		}
	}

	form {
		display: flex;
		align-items: center;
		justify-content: center;

		input[type="email"] {
			height: 60px;
			width: 100%;
			border: none;
			outline: none;
			color: #506172;
			border-radius: 50px;
			padding: 5px 40px;
			font-family: $secondFont;
			font-size: 18px;
			padding-right: 55px;
		}

		input[type="submit"] {
			background-color: #839bff;
			font-family: $secondFont;
			outline: none;
			border: none;
			color: #fff;
			font-size: 20px;
			padding: 5px 40px;
			height: 60px;
			border-radius: 50px;
			cursor: pointer;
			position: relative;
			left: -50px;
			transition: .5s;

			&:hover {
				background-color: $blueColor;
			}
		}
	}
}

.footer {
	background-color: #eeeeee;
	padding: 70px 0;
	position: relative;

	.footer-items {
		p{
			font-family: $roboto;
		}
		h2{
			font-size:18px;
			font-weight:bold;
			font-family: $roboto;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			margin-top: 20px;

			li {
				margin-bottom: 15px;

				a {
					color: #555;
					text-decoration: none;
					font-family: $roboto;
					font-size: 14px;
					transition: .5s;

					&:hover {
						color: $blueColor;
						padding-left: 10px;
					}
				}
			}
		}

		img {
			width: 150px;
			margin-bottom: 20px;
		}

		h2 {
			margin: 0;
			font-family: $secondFont;
			color: #333;
		}

		p {
			font-size: 16px;
			color: #5e5e5e;
			font-family: $secondFont;
		}
	}
}

.copyrights{
	padding:30px 0;
	background-color: $mainColor;
	color:#fff;
	font-family: $mainFont;
}