@media (min-width: 768px) {
    .upper-nav .contact {
		text-align:center;
	}
	.upper-nav .account {
		text-align:center;
	}

}

@media (min-width: 992px) {
	.upper-nav .contact {
		text-align:left;
	}
	.upper-nav .account {
		text-align:right;
	}
}

@media (min-width: 768px) {
    .home-search{
        display:none;
    }
}

@media (min-width: 992px) {
	.home-search{
        display:block;
    }
}