$mainColor: #2d3436;
$whiteColor : #fff;
$blackColor : #000;
$mainFont: "Nunito", sans-serif;
$secondFont : "Nunito",
sans-serif;
$openSans : "Open Sans",
sans-serif;
$blueColor: #5677fc;
$fullWidth : 100%;
$boxShadow : "0px 0 25px 0 rgba(0, 0, 0, 0.1)";
$roboto : 'Roboto';